@{
    ViewBag.Title = "Grades";
}
<h2>@ViewBag.Title</h2>

<p>This is the course: @ViewBag.Course.Name</p>

@foreach (var assignment in ViewBag.Assignments)
{
    <a href="@Url.Action("Index", "Assignment", new { id = assignment.Id })">
        <div class="assignmentTile">
            @assignment.Description
        </div>
    </a>
}

<p>@Html.ActionLink("Add New Item", "Create", "Assignment", new { courseId = ViewBag.Course.Id, teacherId = ViewBag.Teacher.Id }, null)</p>